<!DOCTYPE html>
<html lang="en" xmlns >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/song.css">
</head>
<body>
<table class="list">
  <thead>
  <tr>
    <th>제목</th>
    <th>가수</th>
    <th>작곡자</th>
    <th>발표년도</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${list}">
    <td><a th:href="@{view/{id}(id = ${item.idx})}" th:text="${item.title}"></a></td>
    <td th:text="${item.artist.name}"></td>
    <td th:text="${item.composer}"></td>
    <td th:text="${item.year}"></td>
  </tr>
  </tbody>
</table>
  <div>
    <form action="list" method="get">
      <select name="type">
        <option>제목</option>
        <option>발표년도</option>
      </select>

      <input type="text" name="query">

      <button>검색</button>
    </form>
  </div>
</body>
</html>