<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
    <script>

        const deleteSong = function (){
            if(confirm("정말 삭제하시겠습니까?")) {
                const idx = document.querySelector("[name='idx']").value;
                location.href = "../delete.do/" + idx;
            }
        }

    </script>
</head>
<body>
<div>
    <input type="hidden" name="idx" th:value="${board.boardIdx}">
    <div>
        <label>제목</label>
        <span th:text="${board.title}"></span>
    </div>

    <div>
        <label>가수</label>
        <span th:text="${board.content}"></span>

    </div>
    <div>
        <label>작곡</label>
        <span th:text="${board.author}"></span>
    </div>
    <div>
        <label>작곡</label>
        <span th:text="${board.author}"></span>
    </div>
    <div>
        <label>조회수</label>
        <span th:text="${board.watch_count}"></span>
    </div>
    <div>
        <label>생성일</label>
        <span th:text="${board.created_at}"></span>
    </div>

    <a th:href="@{../update/{id}(id = ${board.boardIdx})}">
        <button>
            수정
        </button>
    </a>

    <a href="javascript:deleteSong();">
        <button>
            삭제
        </button>
    </a>
</div>

</body>
</html>